@model INSURANCE_FIRST_PROJECT.Models.Useraccount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Useraccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fullname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @* //to display the image *@
            @* @Html.DisplayFor(model => model.Image) *@
            <img src="@Url.Content("~/imgs/" + Model.Image )" asp-append-version="true" width="100" height="100" />
            @* // *@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
