@model IEnumerable<INSURANCE_FIRST_PROJECT.Models.About>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Text1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image6)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Text1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text6)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Image1) *@
                <img src="@Url.Content("~/imgs/" + item.Image1 )" asp-append-version="true" width="100" height="100" />
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Image2) *@
                <img src="@Url.Content("~/imgs/" + item.Image2 )" asp-append-version="true" width="100" height="100" />
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Image3) *@
                <img src="@Url.Content("~/imgs/" + item.Image3 )" asp-append-version="true" width="100" height="100" />
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Image4) *@
                <img src="@Url.Content("~/imgs/" + item.Image4 )" asp-append-version="true" width="100" height="100" />
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Image5) *@
                <img src="@Url.Content("~/imgs/" + item.Image5 )" asp-append-version="true" width="100" height="100" />
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Image6) *@
                <img src="@Url.Content("~/imgs/" + item.Image6 )" asp-append-version="true" width="100" height="100" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
