@model INSURANCE_FIRST_PROJECT.Models.Subcrebtion

@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>

<div>
    <h4>Subcrebtion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subcrebtiondate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subcrebtiondate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subcrebtiontype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subcrebtiontype.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Useraccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Useraccount.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

